body{
    background: linear-gradient(
    to right,
  deeppink 50%,
  rgb(5, 253, 253) 50%);
}
#hi{
   font-size: 25px;
   margin-left: 607px;
} 
input{
   width: 100%;
   height: 5%;
   margin-bottom:20px;
} 